.path-mod-assign .form-control-static[data-name="fieldmanager"] {
    flex: 1 1 auto;
}

.path-mod-assign .form-control-static[data-name="fieldmanager"] .form-group label {
    min-width: 200px;
}
table#submissions .assignsubmission_mawang_summary .name,
table#submissions .assignsubmission_mawang_summary .value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    font-size: 0.8rem;
    margin: 0;
}

.mawang-fieldmanager .card label {
    min-width: 200px;
}

.saveconfirm .defaulticon .icon {
    color: var(--success);
}
.saveconfirm .savingicon .icon {
    color: var(--warning);
}
.saveconfirm .savingicon {
    display: none;
}
.saveconfirm.saving .defaulticon {
    display: none;
}
.saveconfirm.saving .savingicon {
    display: inline-block;
}
